################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.opendb
*.suo
*.ipch
*.lastbuildstate
*.tlog
*.log
*.txt
*.recipe
*.ilk
*.obj
*.idb
*.pdb
*.iobj
*.ipdb
